@import "tailwindcss";



body {
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  body {
    width: 70%;
    margin: auto;
  }
}


